@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset básico para remover espaços indesejados */
body {
  margin: 0;
  padding: 0;
}

/* Opcional: aplicar margem 0 no primeiro elemento */
section {
  margin-top: 0;
}

html, body, #root {
  height: 100%;
}

 